POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/app_db

AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://ministack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

APP_NAME=App
APP_VERSION=0.1.0
DEBUG=true

JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
AUTH_SERVICE_BASE_URL=http://host.docker.internal:8080
EVENTS_SERVICE_BASE_URL=http://host.docker.internal:3000
